@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import '@fontsource-variable/roboto-flex';
@import '@fontsource-variable/noto-serif';
@import '@fontsource-variable/jetbrains-mono';

@theme {
  --font-sans: 'Roboto Flex Variable', sans-serif;
  --font-serif: 'Noto Serif Variable', serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  div,
  button,
  input,
  select,
  textarea {
    @apply font-sans;
  }

  article,
  aside {
    @apply font-serif;
  }

  pre,
  code {
    @apply font-mono;
  }
}
